*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #6e709a;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    height: 100vh;
    background-color: #1a1a25
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
header{    
    background-color: #111118;
}
nav{
    text-align: center;
    padding: 8px;
}
ul{
    display: flex;
    justify-content: space-around;
}
div{
    display: flex;
    justify-content: space-around;
    width: 300px;
    background-color: #111118;
}
