*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a25
    
}
form{
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: #111118;
}
div{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
label{
    color: white;
}
h1{
    text-align: center;
    color: white;
}
input{
    border-radius: 4px;
    border: none;
    padding: 8px;
    margin-top: 8px;
}
.btn-login{
    cursor: pointer;
    background-color: #6e709a;
}
.erro{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}
